!!!
%html{:lang => "pl"}
  %head
    %meta{:charset => "utf-8"}/
    %title= "Michał Zając - #{current_page.data.title || 'homepage'}"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "My homepage and a simple blog", :name => "description"}/
    %meta{:content => "Michał Zając", :name => "author"}/
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link(crossorigin){rel: "preconnect", href:"https://fonts.gstatic.com"}
    %link{href: "https://fonts.googleapis.com/css2?family=Lora&display=swap", rel: "stylesheet", media: "print", onload: "this.onload=null;this.removeAttribute('media');", fetchpriority: "high"}
    %link{:href => "humans.txt", :rel => "author"}/
    %link{:rel => "me", :href => "https://ruby.social/@quintasan"}/
    %link{rel: "alternate", type: "application/atom+xml", name: "Blog posts", href: "feed.xml"}/
    = stylesheet_link_tag "app"
    = javascript_include_tag "app", async: true, defer: true
    = yield
