= wrap_layout :common do
  %body
    .wrapper
      = partial "navigation"
      .post
        %article
          %header
            = link_to "Back", "/blog"
            %h1= current_page.data.title
          = yield
